/* Global Styles */
:root {
  --primary-color: #044652;
  /* fonts */
  --primary-font: "Inria Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
    background:linear-gradient(to bottom, #044652 70%,#055a69);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: var(--primary-font);
}
header{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,min-content) auto;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  z-index:6;
}
  header > *{
      padding: 5px 5px;
  }
  header > img, img.logo_index{
    height: 5vh; 
  }
h1{
  text-align: center;
}
/* font families */
.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
h2{
    font-size: 1.2em;
}  

@media all and (max-width: 800px) and (orientation: landscape) {
  header > img{
    height: 9vh;
  }
}
@media all and (max-width: 800px){
  h1{
    font-size: 1.6em;
  }
  h2, .title{
    font-size: 1.4em!important;
  }
}