/* Global Styles */
@import './style.css';

html, body{
    background: none!important;
}
.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.styled-checkbox {
    position: absolute; 
    width: 30%;
    opacity: 0;
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }
  
    &:hover + label:before {
      background: var(--primary-color);
    }
    
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    &:checked + label:before {
      background: var(--primary-color);
    }
    
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
 
  .unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin: 20px 0;
  }
  
  .centered {
    width: 300px;
    margin: auto;
  }
  
  .title {
    text-align: center;
    color: rgb(69, 113, 236);
  }
input, textarea{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Styles for Basic items's Next Button. */
.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

/* Styles for h2 & Credit Link. */
.text-center,
.text-center a {
    text-decoration: none;
    text-align: center;
}

.text-center a {
    text-decoration: none;
    font-size: 14px;
}

/* Styles for Progress Bar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    position: absolute;
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
    z-index: -1;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: black;
    font-weight: 600;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
}

/* Styles for Form. */
form {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

form:hover,
form:active {
  outline: 0;
}

form:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -12px;
  top: -12px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}


/* Styles for input group. */
.input-group {
    margin: 2rem 0;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.form-step-active {
    display: block;
}

/* Styles for Next and Back Button. */
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}


/* Social Credit Styles */
.social_media_div {
    position: fixed;
    left: 0;
    bottom: 20px;
}

.social_media_div li {
    list-style: none;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 20px;
}

.social_media_div li a {
    text-decoration: none;
}

.social_media_div li a i {
    color: black;
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.12);
}

.social_media_div li:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

/* Responsive Style */
@media (max-width: 850px) {
    .form {
        width: 100vw;
        border-color: transparent;
    }
}